.bpcontainer {
	font-size: 12px;
	margin: 0;
}

.bpinfo {
	border-spacing: 0;
	border-collapse: collapse;
	padding: 2px;
}

.bpinfo td {
	padding: 2px 5px 2px 5px;
	text-align: left;
	white-space: nowrap;
	font-size: 12px;
}

.bpinfo .positive {
	color: #360;
}

.bpinfo .negative {
	color: #C00;
}

.bpinfo .neutral {
	color: #000;
}

.bpinfo .right {
	text-align: right;
}

.text-vertical-middle {
	vertical-align: middle;
}